

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
}

.card{
  background-color: rgba(255, 255, 255);
}

.login-signeUp {
  display: flex;
  gap: 12px;
  width: 100%;    /* WICHTIG */
}

body {
  margin: 0;
  padding: 0;
}

.article {
    background-image: url("ElephantSquare.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 15vh;
    height: 15vh;

    border-radius: 5px; /* Ecken abrunden */
    overflow: hidden;   /* wichtig, damit das Bild mit abrundet */
}
