import { createHotContext as __vite__createHotContext } from "/@vite/client";import.meta.hot = __vite__createHotContext("/src/components/signeUp/signeUP.css");import { updateStyle as __vite__updateStyle, removeStyle as __vite__removeStyle } from "/@vite/client"
const __vite__id = "C:/Workbench/M322/zoo-fjrc/src/components/signeUp/signeUP.css"
const __vite__css = ".demo {\r\n  background-image: url(\"/src/components/signeUp/Elephant.jpg\");\r\n  background-size: cover;\r\n  background-position: center;\r\n  background-repeat: no-repeat;\r\n  min-height: 100vh;\r\n}\r\n\r\nbody {\r\n  margin: 0;\r\n  padding: 0;\r\n}"
__vite__updateStyle(__vite__id, __vite__css)
import.meta.hot.accept()
import.meta.hot.prune(() => __vite__removeStyle(__vite__id))
