.background {
  position: relative; /* damit absolute Positionierung innerhalb dieser Box funktioniert */
  background-image: url("Elephant.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;

}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
}

.card{
  background-color: rgba(255, 255, 255);
}

.title {
  display: flex;
  align-items: center;      /* vertikal zentrieren */
  justify-content: center;  /* horizontal zentrieren */
}

body {
  margin: 0;
  padding: 0;
}